@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* @apply bg-gray-900; */
  /* @apply bg-gray-800; */
  background: #161e32;
}

/* 131A2B, 161E32 */

.icon-btn {
  @apply rounded focus:outline-none hover:bg-gray-800;
}

.select-right-align {
  text-align-last: right;
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: right;
}
.select-right-align option {
  direction: rtl;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option:checked {
  font-weight: bold;
}
