@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* @apply bg-gray-900; */
  /* @apply bg-gray-800; */
  background: #161e32;
}

/* 131A2B, 161E32 */

.icon-btn {
  display: flex;
  align-items: center;
  @apply rounded focus:outline-none hover:bg-gray-800;
}
